
.node-link {
    stroke: #ccc;
    stroke-width: 2px;
}

.node-circle {
    fill: rgb(212, 233, 255);
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, 0.336));
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, 0.356));
    transition: fill 0.5s ease;
}

.node-key, .node-value {
    text-anchor: middle;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 9px;
}

.node-key, .node-value {
    cursor: copy;
}

#display {
    position: fixed;
    margin: 0;
    width: 100%;
    height: 100%;
}

.node-circle.fixed {
    transition: fill 0.5s ease;
    fill: rgb(150, 255, 230) !important;
    z-index:  999;
  }

#header {
    margin: 0;
    position: fixed;
    width: 25rem;
    height: 2rem;
    right: 0;
    z-index: 50;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.207);
    background-color: rgb(87, 113, 132);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:whitesmoke;
    display: flex;
    align-items: center;
}

#header p {
    margin-left: 1vw;
    font-size: 1rem;
}

#header div {
    white-space: nowrap;
    margin-left: auto;
}