:root {
  --general-color: #1b1834;
  --sidebar-text-color: white;
  --sidebar-width: 20rem; 
}

.sidebar {
  min-height: 102%;
  width: var(--sidebar-width);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-right: 1px solid black;
  z-index: 20;
  position: sticky;
  margin: 0;
  color: var(--sidebar-text-color);
  padding: 0;
  background-color: var(--general-color);
  overflow-x: hidden;
  user-select: none;
}

.sidebar * {
  padding: 0.1em 0.2em 0 0.5em;
  margin: 0;
  text-decoration: none;
  display: block;
}

.hover-elem {
  position: fixed;
  color: var(--sidebar-text-color) !important; /* overwrite shown > span color */
  left: var(--sidebar-width);
  background-color: var(--general-color);
  border: 5px solid var(--general-color);
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
}

.sidebar-file-wrapper { /* file wrapper allows for buttons (+-/M) in same line as text */
  display: flex;
}

.sidebar-folder-wrapper { /* folder wrapper allows for buttons (+-/M) in same line as text */
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1em;
  padding: 0; /* remove padding that appears on left hand side of element */
}

.sidebar-file-wrapper:active, .sidebar-folder-wrapper:active {
  color: rgb(210, 255, 217);
}